<!DOCTYPE html>
<html ng-app="app">
   <head>
      <meta charset="utf-8">
      <title>Network Topology Simulator</title>
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.3.0/vis.css">
      <link rel="stylesheet" type="text/css" href="app.css">
      <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.3.0/vis.js"></script>
      <script src="angular-vis.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/locales.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
      <script src="https://cdn.rawgit.com/AngularClass/angular-websocket/v2.0.0/dist/angular-websocket.min.js"></script>
      <script src="app.js"></script>
   </head>
   <body style="background-color: #eee; padding:10px;font-family:arial">
      <div class='container' ng-controller="MainCtrl">
         <p class="text-center">Network Topology Simulator</p>
         <div>
            <button class="btn btn-outline-dark pull-right btn-sm mybtn" title='Perform one time simulation'  ng-click="getNetworkData()">Simulate network traffic</button>
            <button class="btn btn-outline-dark pull-right  btn-sm mybtn" title='Zoom out'  id='zin' ng-click="resetView()">Zoom Out</button>
            <button class="btn btn-outline-dark pull-right btn-sm mybtn" title='Start over'  ng-click="resetData()">Reset</button>
            <span  class='sim-status' id='sim-status'></span>
         <div>
         <div id="mynetwork"></div>
      </div>
   </body>
</html>